
.card-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  margin: 20px;
}

.cards {
  display: flex;
  gap: 20px; 
}

  .button-container{
    display: flex;               
    flex-direction: row;          
    justify-content: space-between; 
    align-items: center;          
  }

.cards h3{
  font-size: 1.2rem;
  text-align: center;
}
.card-text{
  text-align: center;
}
.price-text{
  font-size: 1.2rem;
  font-weight: bolder;
}

.ing-list{
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}