.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.wide-input{
    width: 100%;
    max-width: 400px;
    margin: 20px;
}
